
a.navbar-brand(href="index.html")
  img(src="assets/images/logo.png" width="60")

button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
  span.navbar-toggler-icon

#navbarNav.collapse.navbar-collapse
  ul.navbar-nav.mr-auto
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Home
      .dropdown-menu
        a.dropdown-item(href="index.html")   Home Page 1
        a.dropdown-item(href="index-2.html") Home Page 2
        a.dropdown-item(href="index-3.html") Home Page 3
        a.dropdown-item(href="index-4.html") Home Page 4
        a.dropdown-item(href="index-5.html") Home Page 5
        a.dropdown-item(href="index-6.html") Home Page 6

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Pages
      .dropdown-menu
        a.dropdown-item(href="about-1.html") About Us
        a.dropdown-item(href="services-1.html") Services
        a.dropdown-item(href="contact-1.html") Contact Us 1
        a.dropdown-item(href="contact-2.html") Contact Us 2
        a.dropdown-item(href="pricing-1.html") Pricing
        a.dropdown-item(href="faq.html") FAQ
        .dropdown-divider
        a.dropdown-item(href="support.html") Support
        a.dropdown-item(href="support-topic.html") Support Topic
        .dropdown-divider
        a.dropdown-item(href="sign-in.html") Sign in
        a.dropdown-item(href="sign-up.html") Sign up
        a.dropdown-item(href="recover-password.html") Recover Password

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Portfolio
      .dropdown-menu
        a.dropdown-item(href="portfolio-1.html") 2 Columns
        a.dropdown-item(href="portfolio-2.html") 3 Columns
        a.dropdown-item(href="portfolio-3.html") 4 Columns
        a.dropdown-item(href="portfolio-4.html") Carousel
        .dropdown-divider
        a.dropdown-item(href="portfolio-single-1.html") Stack Left
        a.dropdown-item(href="portfolio-single-2.html") Stack Right
        a.dropdown-item(href="portfolio-single-3.html") Stack Centered
        a.dropdown-item(href="portfolio-single-4.html") Gallery
        a.dropdown-item(href="portfolio-single-5.html") Slider

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Journal
      .dropdown-menu
        a.dropdown-item(href="blog-1.html") Masonry 1
        a.dropdown-item(href="blog-2.html") Masonry 2
        a.dropdown-item(href="blog-3.html") Masonry 3
        a.dropdown-item(href="blog-4.html") Masonry 4
        .dropdown-divider
        a.dropdown-item(href="blog-single-1.html") Single Post

    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Shop
      .dropdown-menu
        a.dropdown-item(href="shop-1.html") 2 Columns
        a.dropdown-item(href="shop-2.html") 3 Columns
        a.dropdown-item(href="shop-3.html") 4 Columns
        .dropdown-divider
        a.dropdown-item(href="shop-cart.html") Shop Cart
        a.dropdown-item(href="shop-single-1.html") Shop Single

    li.nav-item
      a.nav-link(href="components.html") Components

    li.nav-item
      a.nav-link(href="documentation.html") Docs

  // Right Nav
  ul.navbar-nav
    li.nav-item
      a.nav-link(href="shop-cart.html") Your Cart
        sup.text-brand #[small  2]
    li.nav-item
      a.nav-link(href="sign-in.html") Sign in
    form.form-inline
      a(class="btn btn-sm btn-brand" href="sign-up.html") Sign up