extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-12.text-center
          h1 Left Sidebar
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque eget mi at eros venenatis
  // Hero end

  = "\n"

  // Posts
  section.module
    .container
      .row
        .col-lg-4
          include include/templates/sidebar
        .col-lg-8
          .row.card-masonry
            .col-md-6
              +PostMasonry("assets/images/blog/5.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-brand")
            .col-md-6
              +PostMasonry("assets/images/blog/3.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-danger")
            .col-md-6
              +PostMasonry("assets/images/blog/7.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-info")
            .col-md-6
              +PostMasonry("assets/images/blog/2.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-success")
            .col-md-6
              +PostMasonry("assets/images/blog/1.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-secondary")
            .col-md-6
              +PostMasonry("assets/images/blog/4.jpg", "Introducing Bright Responsive with Bootstrap 4", "bg-dark")
  // Posts end