extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 Inspired by Clouds
          ol.breadcrumb.justify-content-center.no-bg
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Blog
            li.breadcrumb-item.active Single Post
  // Hero end

  = "\n"

  // Blog
  section.module.pt-0
    .container

      .row
        .col-md-10.m-auto
          .article-thumb.bg-dark(data-mt="-100px")
            .article-header.p-4
              .media
                img.img-shadow.avatar.mr-3(src="assets/images/avatar/2.jpg" alt="")
                .media-body.align-self-center.opacity-9
                  | Written by #[a(href="#") Rich Tabor] in #[a(href="#") Posts] on May 27, 2015 <br>
                  | Tagged #[a(href="#") standard], #[a(href="#") wordpress]
            img(class="img-shadow" src="assets/images/main/9.jpg" alt="")

      .row.mt-6
        .col-md-8.m-auto
          article.article
            h2 Minimalist Chandelier
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            p: img(class="img-shadow m" src="assets/images/main/8.jpg" alt="")
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            h3 Minimalist Chandelier
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            blockquote.blockquote.text-center
                p I don't work from drawings. I don't make sketches and drawings <br> and color sketches into a final painting.
                footer.blockquote-footer Amanda Pollock, Google Inc.
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            ol
                li Energy, Waste and Environment
                li Executive Search and Recruitment
                li Risk Management and Security
                li Mergers and Acquisitions
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
            p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.
  // Blog

  = "\n"

  // Posts
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 You may also like:
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")

      .card-deck
        .card.card-xl.js-tilt.bg-brand(data-background="assets/images/blog/5.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

        .card.card-xl.js-tilt.bg-danger(data-background="assets/images/blog/3.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

        .card.card-xl.js-tilt.bg-info(data-background="assets/images/blog/7.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

      .row
        .col-md-12
          .space(data-mb="40px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more posts &rarr;]
  // Posts end