extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 Contact Us
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Quisque eget mi at eros venenatis
  // Hero end

  = "\n"

  // Contact
  section.module.pb-0
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Let's talk.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-9.m-auto
          .card.card-xl.z-index-10
            .card-body
              form#contact-form(method="post" novalidate)
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type="text" name="name" placeholder="Name" required="")
                      p.help-block.text-danger
                  .col-md-6
                    .form-group
                      input.form-control(type="email" name="email" placeholder="E-mail" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      input.form-control(type="text" name="subject" placeholder="Subject" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                  .col-md-12
                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
              // Ajax response
              #contact-response.ajax-response.text-center
          .space(data-mb="-100px")
  // Contact end

  = "\n"

  // Map
  section.maps-container.vh-4.vh-sm-10
    .map(data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="assets/images/map-icon.png" data-zoom="15" data-styles="style-2")
  // Map end