extends include/templates/layout

block vars
  - var header_transparent = true;
  - var page_loader        = true;

append css

append content

  // Hero
  section.module-cover.fullscreen.bg-dark.parallax(data-background="assets/images/module-7.jpg" data-overlay="0.75")
    .container

      .row
        .col-md-12.text-center
          h1 It all starts with <br> your stunning website.
          p.lead.mb-4 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
          p.btn-list
            a(href="#" class="btn btn-lg btn-brand") Get Started
            a(href="#" class="btn btn-lg btn-outline-new-white") Learn More
  // Hero end

  = "\n"

  // Video
  section.module
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Easy and Simple Theme.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-12
          .popup-video
            img(src="assets/images/main/6.jpg" alt="")
            a(href="https://www.youtube.com/watch?v=0aCbYxJ9gus" class="popup-video-play")

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-lg-3.col-md-6
          +IconBox("ti-agenda", "Great Documentation", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-crown", "Live Examples", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layers-alt", "Creative Layout", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layout", "Responsive Desing", "See how your users experience your website in realtime.", "text-center", true)
  // Video end

  = "\n"

  // Images
  section.module.py-0
    .container-fluid.p-0

      .row.no-gutters
        .col-md-12
          .owl-carousel.image-carousel
            a(href="assets/images/main/2.jpg" class="gallery")
              img(src="assets/images/main/2.jpg" alt="")
            a(href="assets/images/main/3.jpg" class="gallery")
              img(src="assets/images/main/3.jpg" alt="")
            a(href="assets/images/main/4.jpg" class="gallery")
              img(src="assets/images/main/4.jpg" alt="")
            a(href="assets/images/main/5.jpg" class="gallery")
              img(src="assets/images/main/5.jpg" alt="")
  // Images end

  = "\n"

  // Team
  section.module
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Creative People.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-4
          +team("assets/images/team/1.jpg", "Emma Connor", "Designer")
        .col-md-4
          +team("assets/images/team/4.jpg", "Richard Bauer", "Developer")
        .col-md-4
          +team("assets/images/team/5.jpg", "Richard Bauer", "Developer")

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-3.text-center
          +Counter("Happy Clients", "2538", "icon-energy icons")
        .col-md-3.text-center
          +Counter("Total downloads", "3124", "icon-cup icons")
        .col-md-3.text-center
          +Counter("Awards Won", "4128", "icon-fire icons")
        .col-md-3.text-center
          +Counter("Theme Users", "5534", "icon-diamond icons")
  // Team end

  = "\n"

  // Testimonials
  section.module.divider-top
    .container

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-10.m-auto
          .review-slides.owl-carousel
            +TestimonialsSlider("Albert Einstein", "I don't work from drawings. I don't make sketches and drawings <br/> and color sketches into a final painting.", true)
            +TestimonialsSlider("Ralph Waldo Emerson", "To be yourself in a world that is constantly trying to make you <br/> something else is the greatest accomplishment.", true)
            +TestimonialsSlider("Marilyn Monroe", "Imperfection is beauty, madness is genius and it's better to be <br/> absolutely ridiculous than absolutely boring.", true)

      .row
        .col-md-12
          .space(data-mb="60px")
  // Testimonials end

  = "\n"

  // Posts
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Latest articles.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")

      .card-deck
        .card.card-xl.js-tilt.bg-brand(data-background="assets/images/blog/5.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-danger(data-background="assets/images/blog/3.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-info(data-background="assets/images/blog/7.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

      .row
        .col-md-12
          .space(data-mb="40px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more posts &rarr;]
  // Posts end

  = "\n"

  // Callout
  section.module.bg-dark.parallax(data-background="" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-12
          .space(data-mb="60px")

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Let's talk.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")
  // Callout end

  = "\n"

  // Contact
  section.module.bg-gray.pt-0
    .container

      .row
        .col-md-12
          .space(data-mb="-100px")
          .card.card-xl.z-index-10
            .card-body
              form#contact-form(method="post" novalidate)
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type="text" name="name" placeholder="Name" required="")
                      p.help-block.text-danger
                  .col-md-6
                    .form-group
                      input.form-control(type="email" name="email" placeholder="E-mail" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      input.form-control(type="text" name="subject" placeholder="Subject" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                  .col-md-12
                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
              // Ajax response
              #contact-response.ajax-response.text-center

          .row
            .col-md-12
              .space(data-mb="40px")

          .row
            .col-md-12
              .text-center
                p.lead Or send your resume and details to #[a(href="#") jobs@demo.com] for all opportunities.
  // Contact end