extends include/templates/layout

block vars
  - var page_loader        = true;

append css

append content

  // Hero
  section.module-cover
    .container

      .row
        .col-md-12.text-center
          h1 Let's Get Connected.
          p.lead.mb-5 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
          p: img(src="assets/images/main/iphone-4.png" alt="")
  // Hero end

  = "\n"

  // Services
  section.module.divider-top.bg-gray
    .container

      .row
        .col-lg-3.col-md-6
          +IconBox("ti-agenda", "Great Documentation", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-crown", "Live Examples", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layers-alt", "Creative Layout", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layout", "Responsive Desing", "See how your users experience your website in realtime.", "text-center", true)
  // Services

  = "\n"

  // Features
  section.module.divider-top.pt-0.pb-0
    .container

      .row.align-items-center

        .col-md-6
          .space(data-mb="-50px")
          img(src="assets/images/main/iphone-3.png" alt="")
          .border-bottom.d-md-none
        .col-md-6.order-lg-2
          .mt-5.mb-5
            h2 Easy and Simple.
            p.lead See how your users experience your website in realtime or view trends to see changes.
            .space(data-mb="60px")
            .row
              .col-md-6.col-6
                +Counter("Happy Clients", "2538", "icon-energy icons")
              .col-md-6.col-6
                +Counter("Total downloads", "3124", "icon-cup icons")
            .space(data-mb="30px")
            .row
              .col-md-6.col-6
                +Counter("Awards Won", "4128", "icon-fire icons")
              .col-md-6.col-6
                +Counter("Theme Users", "5534", "icon-diamond icons")
  // Features end

  = "\n"

  // Alt Services
  section.module.bg-gray.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Easy and Simple Theme.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row.align-items-center
        .col-lg-4.order-lg-2
          .wave-pulse.wave-pulse-1
          .wave-pulse.wave-pulse-2
          .wave-pulse.wave-pulse-3
          p.text-center: img(class="relative z-index-10" src="assets/images/main/iphone.png" alt="")
        .col-lg-3.offset-lg-1.order-lg-1
          +IconBox("fab fa-chrome", "Live Examples", "See how your users experience your website in realtime or view trends to see any changes.", "text-lg-right")
          +IconBox("far fa-object-ungroup", "Responsive Desing", "See how your users experience your website in realtime or view trends to see any changes.", "text-lg-right")
        .col-lg-3.order-lg-3
          +IconBox("fas fa-spinner", "Pug Template Engine", "See how your users experience your website in realtime or view trends to see any changes.", "")
          +IconBox("fab fa-sass", "Gulp & SASS", "See how your users experience your website in realtime or view trends to see any changes.", "")

      .row
        .col-md-12
          .space(data-mb="60px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more features &rarr;]
  // Alt Services end

  = "\n"

  // Features
  section.module.divider-top.pt-0.pb-0
    .container

      .row.align-items-center

        .col-md-6.offset-md-1.order-lg-2
          .space(data-mb="-50px")
          img(src="assets/images/main/iphone-2.png" alt="")
          .border-bottom.d-md-none

        .col-md-5.order-lg-1
          .mt-5.mb-5
            h2 Special Treats.
            p.lead See how your users experience your website in realtime or view trends to see changes.
            .space(data-mb="60px")
            +Progress("App Development", "25", "bg-brand")
            +Progress("Node Development", "35", "bg-brand")
            +Progress("Theme Development", "45", "bg-brand")
            +Progress("Plugin Development", "55", "bg-brand")

  // Features end

  = "\n"

  // Pricing
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Ready to start your project?
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row.no-gutters
        .col-md-4
          .price-table.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Free
              span $ 0.00 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
        .col-md-4
          .price-table.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Plus
              span $ 7.90 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
                li #[i.fas.fa-check ] Manual order creation
                li #[i.fas.fa-check ] Discount codes
                li #[i.fas.fa-check ] Website and blog
        .col-md-4
          .price-table.price-table-popular.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Premium
              span $ 12.99 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
                li #[i.fas.fa-check ] Manual order creation
                li #[i.fas.fa-check ] Discount codes
                li #[i.fas.fa-check ] Website and blog
                li #[i.fas.fa-check ] Free SSL certificate
                li #[i.fas.fa-check ] Gift cards
                li #[i.fas.fa-check ] Professional reports
  // Pricing end

  = "\n"

  // Callout
  section.module.divider-top
    .container

      .row
        .col-md-12.text-center
          h2 Sign-up today and recieve our founders bonus

      .row
        .col-md-12
          .space(data-mb="60px")

      .row
        .col-md-3
          .form-group
            input.form-control(type="email" placeholder="E-mail")
        .col-md-3
          .form-group
            input.form-control(type="password" placeholder="Password")
        .col-md-3
          .form-group
            input.form-control(type="password" placeholder="Confirm Password")
        .col-md-3
          input(class="btn btn-block btn-brand" type="submit" value="Create Account")

      .row
        .col-md-12
          .space(data-mb="100px")

      .row
        .col-md-11.m-auto
          p: img(src="assets/images/main/iphone-4.png" alt="")
  // Callout end

