extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover-slides.fullscreen
    ul.slides-container

      li.bg-dark.parallax.text-center(data-overlay="0.7")
        img(src="assets/images/module-4.jpg" alt="")

        .container
          .row
            .col-md-12
              h1: i.icon-rocket.icons
              h1.mb-4 Start your own <br> business with Bright
              p.lead.mb-5 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              p.btn-list
                a(href="#" class="btn btn-lg btn-brand") Get Started
                a(href="#" class="btn btn-lg btn-outline-new-white") Learn More
              //- h1 The easiest way to measure <br> content perfomance.
              //- p.lead.mb-4 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              //- p.btn-list
              //-   a(href="#" class="btn btn-lg btn-circle btn-danger") Get Started
              //-   a(href="#" class="btn btn-lg btn-circle btn-outline-new-white") Learn More

      li.bg-dark.parallax.text-center(data-overlay="0.7")
        img(src="assets/images/module-5.jpg" alt="")

        .container
          .row
            .col-md-12
              h1: i.icon-energy.icons
              h1.mb-4 Find corporate <br>clients with Bright
              p.lead.mb-5 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              p.btn-list
                a(href="#" class="btn btn-lg btn-brand") Get Started
                a(href="#" class="btn btn-lg btn-outline-new-white") Learn More
              //- h1 It all starts with <br> your stunning website.
              //- p.lead.mb-4 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              //- p.btn-list
              //-   a(href="#" class="btn btn-lg btn-circle btn-brand") Get Started
              //-   a(href="#" class="btn btn-lg btn-circle btn-outline-new-white") Learn More

      li.bg-dark.parallax.text-center(data-overlay="0.9" data-gradient="1")
        img(src="assets/images/module-6.jpg" alt="")

        .container
          .row
            .col-md-12
              h1: i.icon-diamond.icons
              h1.mb-4 Get new insights <br>into your new apps
              p.lead.mb-5 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              p.btn-list
                a(href="#" class="btn btn-lg btn-brand") Get Started
                a(href="#" class="btn btn-lg btn-outline-new-white") Learn More
              //- h1 Get new insights into your apps. <br> Your data will love us and so will you.
              //- p.lead.mb-4 See how your users experience your website in realtime or view  <br> trends to see any changes in performance over time.
              //- p.btn-list
              //-   a(href="#" class="btn btn-lg btn-circle btn-brand") Get Started
              //-   a(href="#" class="btn btn-lg btn-circle btn-outline-new-white") Learn More

    .slides-navigation
      a(href="#" class="prev"): span.ti-angle-left
      a(href="#" class="next"): span.ti-angle-right
  // Hero end

  = "\n"

  // Services
  section.module.pt-8.pb-8
    .container

      .row
        .col-lg-4.col-md-6
          +IconBox("ti-agenda", "Great Documentation", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
        .col-lg-4.col-md-6
          +IconBox("ti-crown", "Live Examples", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
        .col-lg-4.col-md-6
          +IconBox("ti-layers-alt", "Creative Layout", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
        .col-lg-4.col-md-6
          +IconBox("ti-layout", "Responsive Desing", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
        .col-lg-4.col-md-6
          +IconBox("ti-gift", "Pug Template Engine", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
        .col-lg-4.col-md-6
          +IconBox("ti-settings", "Gulp & SASS", "See how your users experience your website in realtime or view trends to see any changes.", "", true)
  // Services end

  = "\n"

  // Portfolio
  section.module.bg-gray.pb-0
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Latest articles.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")

      .row
        .col-md-12
          ul.filters.serif
            li: a(href="#" data-filter="*" class="current") All
              sup #[small  9]
            li: a(href="#" data-filter=".branding") Branding
              sup #[small  3]
            li: a(href="#" data-filter=".digital") Digital
              sup #[small  2]
            li: a(href="#" data-filter=".packaging") Packaging
              sup #[small  4]

    .container-fluid
      .row.row-portfolio(data-columns="3")
        .grid-sizer
        +PortfolioItem("assets/images/portfolio/1.jpg", "Typography", "branding bg-dark", "Branding")
        +PortfolioItem("assets/images/portfolio/2.jpg", "Monochrome", "digital bg-dark", "Branding")
        +PortfolioItem("assets/images/portfolio/3.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
        +PortfolioItem("assets/images/portfolio/4.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
        +PortfolioItem("assets/images/portfolio/5.jpg", "Classic Socks", "digital bg-dark", "Branding")
        +PortfolioItem("assets/images/portfolio/6.jpg", "White Sleeve", "branding bg-dark", "Digital")
  // Portfolio end

  = "\n"

  // Testimonials
  section.module.bg-dark.parallax(data-background="" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-10.m-auto
          .review-slides.owl-carousel
            +TestimonialsSlider("Albert Einstein", "I don't work from drawings. I don't make sketches and drawings <br/> and color sketches into a final painting.")
            +TestimonialsSlider("Ralph Waldo Emerson", "To be yourself in a world that is constantly trying to make you <br/> something else is the greatest accomplishment.")
            +TestimonialsSlider("Marilyn Monroe", "Imperfection is beauty, madness is genius and it's better to be <br/> absolutely ridiculous than absolutely boring.")

      .row
        .col-md-12
          .space(data-mb="60px")
  // Testimonials end

  = "\n"

  // Posts
  section.module
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Latest Works.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")

      .card-deck
        .card.card-xl.js-tilt.bg-brand(data-background="assets/images/blog/5.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-danger(data-background="assets/images/blog/3.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-info(data-background="assets/images/blog/7.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

      .row
        .col-md-12
          .space(data-mb="40px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more posts &rarr;]
  // Posts end

  = "\n"

  // Contact
  section.module.divider-top.pb-0
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Let's talk.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-9.m-auto
          .card.card-xl.z-index-10
            .card-body
              form#contact-form(method="post" novalidate)
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type="text" name="name" placeholder="Name" required="")
                      p.help-block.text-danger
                  .col-md-6
                    .form-group
                      input.form-control(type="email" name="email" placeholder="E-mail" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      input.form-control(type="text" name="subject" placeholder="Subject" required="")
                      p.help-block.text-danger
                  .col-md-12
                    .form-group
                      textarea.form-control(name="message" placeholder="Message" rows="12" required="")
                  .col-md-12
                    input(type="submit" class="btn btn-block btn-brand" value="Send Message")
              // Ajax response
              #contact-response.ajax-response.text-center
          .space(data-mb="-100px")
  // Contact end

  = "\n"

  // Map
  section.maps-container.vh-3.vh-sm-10
    .map(data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="assets/images/map-icon.png" data-zoom="15" data-styles="style-2")
  // Map end