extends include/templates/layout

block vars
  - var header_transparent = true;
  - var page_loader        = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-jarallax-video="https://www.youtube.com/watch?v=ARvle-Ei6Sw" data-overlay="0.95" data-gradient="1")
    .container

      .row
        .col-md-12.text-center
          p.lead Start with co-working way in our studio.
          h1.mb-4 Create Your Stunning <br> Website in minutes.

          p.btn-list
            a(href="#" class="btn btn-lg btn-brand") Get Started
            a(href="#" class="btn btn-lg btn-outline-new-white") Learn More
  // Hero end

  = "\n"

  // Portfolio Carousel
  section.module.pt-0.pb-0
    .container-fluid.p-0

      .row.no-gutters
        .col-md-12
          .space(data-mt="-100px")
          .owl-carousel.portfolio-carousel(data-carousel-options='{"nav": true}')
            +PortfolioItem("assets/images/portfolio/1.jpg", "Modulamp", "branding bg-dark", "Digital")
            +PortfolioItem("assets/images/portfolio/2.jpg", "Monochrome", "digital bg-dark", "Branding, Photo")
            +PortfolioItem("assets/images/portfolio/3.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
            +PortfolioItem("assets/images/portfolio/4.jpg", "Solave Cleanser", "branding bg-dark", "Digital")
            +PortfolioItem("assets/images/portfolio/5.jpg", "Monochrome", "digital bg-dark", "Branding")
  // Portfolio Carousel end

  = "\n"

  // Services
  section.module.pt-0
    .container

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-lg-3.col-md-6
          +IconBox("ti-agenda", "Great Documentation", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-crown", "Live Examples", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layers-alt", "Creative Layout", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layout", "Responsive Desing", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-agenda", "Great Documentation", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-crown", "Live Examples", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layers-alt", "Creative Layout", "See how your users experience your website in realtime.", "text-center", true)
        .col-lg-3.col-md-6
          +IconBox("ti-layout", "Responsive Desing", "See how your users experience your website in realtime.", "text-center", true)
  // Services end

  = "\n"

  // Testimonials
  section.module.bg-dark.parallax(data-background="" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-md-3.text-center
          +Counter("Happy Clients", "2538", "icon-energy icons")
        .col-md-3.text-center
          +Counter("Total downloads", "3124", "icon-cup icons")
        .col-md-3.text-center
          +Counter("Awards Won", "4128", "icon-fire icons")
        .col-md-3.text-center
          +Counter("Theme Users", "5534", "icon-diamond icons")
  // Testimonials end

  = "\n"

  // Alt Services
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Easy and Simple Theme.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row.align-items-center
        .col-lg-4.order-lg-2
          p.text-center: img(src="assets/images/main/iphone.png" alt="")
        .col-lg-3.offset-lg-1.order-lg-1
          +IconBox("fab fa-chrome", "Live Examples", "See how your users experience your website in realtime or view trends to see any changes.", "text-lg-right")
          +IconBox("far fa-object-ungroup", "Responsive Desing", "See how your users experience your website in realtime or view trends to see any changes.", "text-lg-right")
        .col-lg-3.order-lg-3
          +IconBox("fas fa-spinner", "Pug Template Engine", "See how your users experience your website in realtime or view trends to see any changes.", "")
          +IconBox("fab fa-sass", "Gulp & SASS", "See how your users experience your website in realtime or view trends to see any changes.", "")

      .row
        .col-md-12
          .space(data-mb="60px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more features &rarr;]
  // Alt Services end

  = "\n"

  // Posts
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 From the Journal.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="60px")

      .card-deck
        .card.card-xl.js-tilt.bg-brand(data-background="assets/images/blog/5.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-danger(data-background="assets/images/blog/3.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;
        .card.card-xl.js-tilt.bg-info(data-background="assets/images/blog/7.jpg")
          .card-body.mb-10
            h4: a(href="#") Introducing Bright Responsive with Bootstrap 4
          .card-footer
            a(href="#") Read More &rarr;

      .row
        .col-md-12
          .space(data-mb="40px")

      .row
        .col-md-12
          .text-center
            p.lead Like what you see? #[a(href="#") See more posts &rarr;]
  // Posts end

  = "\n"

  // Callout
  section.module.bg-dark.parallax(data-background="assets/images/module-3.jpg" data-overlay="0.5")
    .container

      .row
        .col-md-12
          .space(data-mb="100px")

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Ready to Start your Project?
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mb="40px")

      .row
        .col-md-12
          p.text-center
            a(href="#" class="btn btn-lg btn-brand") Purchase Now

      .row
        .col-md-12
          .space(data-mb="100px")
  // Callout end