extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-4.jpg" data-overlay="0.6")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 3 Columns
          ol.breadcrumb.justify-content-center.no-bg.pl-0
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Portfolio
            li.breadcrumb-item.active 3 Columns
  // Hero end

  = "\n"

  //
  section.module.pt-10.pb-0
    .container

      .row
        .col-md-12
          ul.filters.serif
            li: a(href="#" data-filter="*" class="current") All
              sup #[small  9]
            li: a(href="#" data-filter=".branding") Branding
              sup #[small  3]
            li: a(href="#" data-filter=".digital") Digital
              sup #[small  2]
            li: a(href="#" data-filter=".packaging") Packaging
              sup #[small  4]

    .container-fluid
      .row.row-portfolio(data-columns="3")
          .grid-sizer
          +PortfolioItem("assets/images/portfolio/1.jpg", "Typography", "branding bg-dark", "Branding")
          +PortfolioItem("assets/images/portfolio/7.jpg", "Expirience", "packaging bg-dark", "Packaging")
          +PortfolioItem("assets/images/portfolio/2.jpg", "Monochrome", "digital bg-dark", "Branding")
          +PortfolioItem("assets/images/portfolio/8.jpg", "Expirience", "packaging bg-dark", "Packaging")
          +PortfolioItem("assets/images/portfolio/9.jpg", "Expirience", "packaging bg-dark", "Packaging")
          +PortfolioItem("assets/images/portfolio/3.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
          +PortfolioItem("assets/images/portfolio/4.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
          +PortfolioItem("assets/images/portfolio/5.jpg", "Classic Socks", "digital bg-dark", "Branding")
          +PortfolioItem("assets/images/portfolio/6.jpg", "White Sleeve", "branding bg-dark", "Digital")
