extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-4.jpg" data-overlay="0.6")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 Carousel
          ol.breadcrumb.justify-content-center.no-bg
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Portfolio
            li.breadcrumb-item.active Minimalist Chandelier
  // Hero end

  = "\n"

  // Portfolio
  section.module
    .container-fluid.p-0

      .row.no-gutters
        .col-md-12
          .owl-carousel.portfolio-carousel(data-carousel-options='{"nav": true}')
            +PortfolioItem("assets/images/portfolio/1.jpg", "Modulamp", "branding bg-dark", "Digital")
            +PortfolioItem("assets/images/portfolio/2.jpg", "Monochrome", "digital bg-dark", "Branding, Photo")
            +PortfolioItem("assets/images/portfolio/3.jpg", "Ellie Cashman", "packaging bg-dark", "Packaging")
            +PortfolioItem("assets/images/portfolio/4.jpg", "Solave Cleanser", "branding bg-dark", "Digital")
            +PortfolioItem("assets/images/portfolio/5.jpg", "Monochrome", "digital bg-dark", "Branding")
  // Portfolio end