extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-jarallax-video="https://www.youtube.com/watch?v=ARvle-Ei6Sw" data-overlay="0.7")
    .container

      .row
        .col-md-12.text-center
          h1 Minimalist Chandelier
          ol.breadcrumb.justify-content-center.no-bg.pl-0
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Portfolio
            li.breadcrumb-item.active Minimalist Chandelier
  // Hero end

  = "\n"

  section.module.pb-0
    .container


      .row.mb-5
        .col-lg-12
          p: img(src="assets/images/module-1.jpg" alt="")

      .row.mb-5
        .col-lg-8.m-auto
          h6 Minimalist Chandelier
          p.text-justify Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.

      .row.mb-5
        .col-lg-12
          p: iframe(src="//player.vimeo.com/video/95192276?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

      .row.mb-5
        .col-lg-8.m-auto
          h6 Minimalist Chandelier
          p.text-justify Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud.

      .row.mb-5
        .col-lg-12
          p: img(src="assets/images/module-2.jpg" alt="")

      .row.mb-5
        .col-lg-3.col-md-6
          ul.list-unstyled
            li: h6.text-uppercase #[span.small.bold Year]
            li 2018
        .col-lg-3.col-md-6
          ul.list-unstyled
            li: h6.text-uppercase #[span.small.bold Deliverables]
            li UX
            li Visual Design
            li  Creative Direction
        .col-lg-3.col-md-6
          ul.list-unstyled
            li: h6.text-uppercase #[span.small.bold Team]
            li ToyFight
            li Melcher Media
            li 60fps
        .col-lg-3.col-md-6
          ul.list-unstyled
            li: h6.text-uppercase #[span.small.bold Online]
            li: a(href="#") View Site &rarr;

      // Navigation
      .row.mt-5
        .col-md-12
          .work-nav.border-top.py-4
            .row
              .col
                .work-nav-prev
                  a(href="#")
                    .media
                      img.rounded.mr-3(src="assets/images/portfolio/17.jpg" alt="")
                      .media-body.align-self-center
                        h5.work-nav-text.opacity-5 Older
                        h5.work-nav-text May: Trending Items
              .col
                .work-nav-next.text-right.float-right
                  a(href="#")
                    .media
                      .media-body.align-self-center
                        h5.work-nav-text.opacity-5 Newer
                        h5.work-nav-text Inspiration: Nordic Home
                      img.rounded.ml-3(src="assets/images/portfolio/18.jpg" alt="")
      // Navigation end