extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-1.jpg" data-overlay="0.6")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 Pricing Plans
          ol.breadcrumb.justify-content-center.no-bg
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Pages
            li.breadcrumb-item.active Pricing
  // Hero end

  = "\n"

  // Pricing
  section.module
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Ready to start your project?
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row.no-gutters
        .col-md-4
          .price-table.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Free
              span $ 0.00 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
        .col-md-4
          .price-table.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Plus
              span $ 7.90 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
                li #[i.fas.fa-check ] Manual order creation
                li #[i.fas.fa-check ] Discount codes
                li #[i.fas.fa-check ] Website and blog
        .col-md-4
          .price-table.price-table-popular.mb-4.mb-md-0
            .price-table-header
              h2.mb-0 Premium
              span $ 12.99 #[small / Per Month]
            .price-table-body
              ul.list-icons
                li #[i.fas.fa-check ] Staff accounts
                li #[i.fas.fa-check ] File storage
                li #[i.fas.fa-check ] Retail Package
                li #[i.fas.fa-check ] 24/7 support
                li #[i.fas.fa-check ] Transaction fees
                li #[i.fas.fa-check ] Fraud analysis
                li #[i.fas.fa-check ] Manual order creation
                li #[i.fas.fa-check ] Discount codes
                li #[i.fas.fa-check ] Website and blog
                li #[i.fas.fa-check ] Free SSL certificate
                li #[i.fas.fa-check ] Gift cards
                li #[i.fas.fa-check ] Professional reports
  // Pricing end

  = "\n"

  // Clients
  section.module.divider-top
    .container

      .row
        .col-md-10.col-lg-6.m-auto.text-center
          h2 Loved by 50,000+ Customers.
          p.lead See how your users experience your website in realtime or view trends to see any changes in performance over time.

      .row
        .col-md-12
          .space(data-mt="60px")

      .row
        .col-md-6
          +TestimonialsCard("Emma Connor", "See how your users experience your website in realtime or view trends to see any changes in performance over time. See how your users experience your.", "assets/images/avatar/1.jpg")
        .col-md-6
          +TestimonialsCard("Sara Smith", "See how your users experience your website in realtime or view trends to see any changes in performance over time. See how your users experience your.", "assets/images/avatar/2.jpg")

      .row
        .col-md-10.m-auto
          .owl-carousel.clients-carousel(data-carousel-options='{"dots": true}')
            .client
              img(src="assets/images/clients/1.png" alt="")
            .client
              img(src="assets/images/clients/2.png" alt="")
            .client
              img(src="assets/images/clients/3.png" alt="")
            .client
              img(src="assets/images/clients/4.png" alt="")
            .client
              img(src="assets/images/clients/5.png" alt="")
            .client
              img(src="assets/images/clients/6.png" alt="")
            .client
              img(src="assets/images/clients/7.png" alt="")
  // Clients end