extends include/templates/layout

block vars
    - var header_transparent = true;

append css

append content

  section.module-cover.bg-dark.parallax.fullscreen.text-center(data-background="" data-overlay="1" data-gradient="1")
    .container

      .row
        .col-lg-4.col-md-6.m-auto
          .mb-4
            h5 Recover your account
          .mb-4
            form(method="post")
              .form-group
                input.form-control(type="email" placeholder="Email")
              .form-group
                button(type="submit" class="btn btn-block btn-round btn-brand") Reset password
          p: small We will send you an email with a link for reset.