extends include/templates/layout

block vars
  - var header_transparent = true;

append css

append content

  // Hero
  section.module-cover.bg-dark.parallax(data-background="assets/images/module-4.jpg" data-overlay="0.6")
    .container

      .row
        .col-md-12.m-auto.text-center
          h1 Your Cart
          ol.breadcrumb.justify-content-center.no-bg
            li.breadcrumb-item: a(href="#") Home
            li.breadcrumb-item: a(href="#") Shop
            li.breadcrumb-item.active Cart
  // Hero end

  = "\n"

  // Shop Cart
  section.module
    .container

      .row
        // Cart Items
        .col-lg-8
          .row
            .col-md-12
              .card.border.no-shadow
                .card-body
                  +CreateCartItem("assets/images/shop/1.jpg", "Classic Chair", "$30.00")
              .card.border.no-shadow
                .card-body
                  +CreateCartItem("assets/images/shop/5.jpg", "Solo Headphones", "$20.00")
              .card.border.no-shadow
                .card-body
                  +CreateCartItem("assets/images/shop/3.jpg", "Folder Calendar", "$10.00")
              .card.border.no-shadow
                .card-body
                  .form-row
                    .form-group.col-md-4.mb-md-0
                      input.form-control.form-control-sm(type="text" placeholder="Coupon Code")
                    .form-group.col-md-4.mb-md-0
                      a(href="#" class="btn btn-sm btn-block-mobile btn-outline-secondary") Apply Coupon
                    .form-group.col-md-4.text-right.mb-md-0
                       a(href="#" class="btn btn-sm btn-block-mobile btn-secondary") Update Cart
        // Cart Items end

        // Cart Total
        .col-lg-4
          .card.card-lg.border.no-shadow
            .card-header.border-bottom Your order total
            .card-body
              .list-group
                .list-group-item.border-0.px-0.pb-1.pt-1 Subtotal #[span.float-right $21.00]
                .list-group-item.border-0.px-0.pb-1.pt-1 Discount #[span.float-right $1.00]
                .list-group-item.border-0.px-0.pb-1.pt-1 Total #[span.float-right $20.00]
            .card-footer.border-top
              a(class="btn btn-block btn-brand" href="#") Checkout
              ul.list-unstyled.list-inline.text-center.mb-0.mt-3
                li.list-inline-item
                  img(src="assets/images/payments/if_visa.png" alt="")
                li.list-inline-item
                  img(src="assets/images/payments/if_paypal.png" alt="")
                li.list-inline-item
                  img(src="assets/images/payments/if_mastercard.png" alt="")
                li.list-inline-item
                  img(src="assets/images/payments/if_discover.png" alt="")
        // Cart Total end
  // Shop Cart end