extends include/templates/layout

block vars
  - var header_transparent = false;

append css

append content

  // Support Topic
  section.module
    .container

      .row
        // Support Topic Content
        .col-md-9#intro
          .mb-5
            h1.mb-0 Bundled Plugins
            nav(aria-label="breadcrumb")
              ol.breadcrumb.no-bg.pl-0
                li.breadcrumb-item
                  a(href="#") Help Center
                li.breadcrumb-item
                  a(href="#") Buying and Item Support
                li.breadcrumb-item.active(aria-current="page") Bundled Plugins
          .mb-5
            p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!A carriage and four splendid horses, covered with armorial bearings, however, awaited us at Mudbury, four miles from Queen's Crawley, and we made our entrance to the baronet's park in state .

          .component-block#started
            .mb-5
              h3 Getting started
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              .popup-video
                img(src="assets/images/module-2.jpg" alt="")
                a(href="https://www.youtube.com/watch?v=0aCbYxJ9gus" class="popup-video-play")

          .component-block#pug
            .mb-5
              hr.mb-5
              h3 PUG Highlight
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              pre
                code.language-pug
                  |extends include/templates/layout
                  |
                  |block vars
                  |  - var header_transparent = false;
                  |
                  |append css
                  |
                  |append content
                  |  h1 Hello, world!

          .component-block#video
            .mb-5
              hr.mb-5
              h3 Responsive Video
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              p: iframe(width="500" height="281" frameborder="0" src="//www.youtube.com/embed/EMy5krGcoOU" allowfullscreen)

          .component-block#html
            .mb-5
              hr.mb-5
              h3 HTML Highlight
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              pre
                code.language-markup
                  |&lt;!-- Themify --&gt;
                  |&lt;i class=&quot;ti-spray&quot;&gt;&lt;/i&gt;
                  |
                  |&lt;!-- Simple Line Icons --&gt;
                  |&lt;i class=&quot;icon-diamond icons&quot;&gt;&lt;/i&gt;
                  |
                  |&lt;!-- Font Awesome --&gt;
                  |&lt;i class=&quot;fab fa-accessible-icon&quot;&gt;&lt;/i&gt;

          .component-block#image
            .mb-5
              hr.mb-5
              h3 Responsive Image
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              p: img(class="img-shadow" src="assets/images/module-1.jpg" alt="")

          .component-block#php
            .mb-5
              hr.mb-5
              h3 PHP Highlight
              p.lead A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked punch!
            .mb-5
              pre
                code.language-php
                  |// Mail settings
                  |$to = "yourmail@here.com";
                  |
                  |// You can put here your email
                  |$header = "From: noreply@neomax.com\r\n";
        // Support Topic Content end

        = "\n"

        // Support Sidebar
        .col-md-3
          ul.nav-sidebar.nav.sticky-sidebar#navbar-1
            a(href="#intro" class="smoothscroll nav-link") Intro
            a(href="#started" class="smoothscroll nav-link") Getting started
            a(href="#pug" class="smoothscroll nav-link") PUG Highlight
            a(href="#video" class="smoothscroll nav-link") Responsive Video
            a(href="#html" class="smoothscroll nav-link") HTML Highlight
            a(href="#image" class="smoothscroll nav-link") Responsive Image
            a(href="#php" class="smoothscroll nav-link") PHP Highlight
            a(href="#introduction" class="smoothscroll nav-link mt-4") Back to Topics &rarr;
        // Support Sidebar end
  // Support Topic end