// Footer
footer.footer.bg-dark
  .footer-widgets
    .container

      .row
          .col-md-3.col-sm-6
            aside.widget
              .widget-title
                h6 Product
              ul
                li: a(href="#") Designer
                li: a(href="#") CMS
                li: a(href="#") Hosting
                li: a(href="#") Editor
                li: a(href="#") Interactions
                li: a(href="#") Customers
                li: a(href="#") Pricing
                li: a(href="#") Templates
                li: a(href="#") Feature Index
                li: a(href="#") Pug vs. WordPress

          .col-md-3.col-sm-6
            aside.widget
              .widget-title
                h6 Company
              ul
                li: a(href="#") About
                li: a(href="#") Blog
                li: a(href="#") Jobs
                li: a(href="#") Terms of Service
                li: a(href="#") Privacy Policy
                li: a(href="#") Sitemap
                li: a(href="#") Events
                li: a(href="#") Become an Affiliate

          .col-md-3.col-sm-6
            aside.widget
              .widget-title
                h6 Learn & Support
              ul
                li: a(href="#") Pug University
                li: a(href="#") Courses
                li: a(href="#") Ebooks
                li: a(href="#") Forum
                li: a(href="#") Service Status
                li: a(href="#") Contact Support
                li: a(href="#") Feature Wishlist
                li: a(href="#") Hire an Expert

          .col-md-3.col-sm-6
            aside.widget
              .widget-title
                h6 Social
              ul
                li: a(href="#") About
                li: a(href="#") Blog
                li: a(href="#") Jobs
                li: a(href="#") Terms of Service
                li: a(href="#") Privacy Policy
                li: a(href="#") Sitemap
                li: a(href="#") Events
                li: a(href="#") Become an Affiliate
  .footer-bar
    .container

      .row
        .col-md-6
          .copyright
            p © 2018, Bright, Inc. All Rights Reserved.
        .col-md-6.d-none.d-md-block
          ul.list-unstyled.list-inline.mb-0.pb-0.text-right
            li.list-inline-item
              img(src="assets/images/payments/if_visa.png" alt="")
            li.list-inline-item
              img(src="assets/images/payments/if_paypal.png" alt="")
            li.list-inline-item
              img(src="assets/images/payments/if_mastercard.png" alt="")
            li.list-inline-item
              img(src="assets/images/payments/if_discover.png" alt="")
// Footer end