// Off canvas
.off-canvas-sidebar
    .off-canvas-sidebar-wrapper

        .off-canvas-header
            a(href="#" class="off-canvas-close"): span.ti-close

        .off-canvas-content

            // Text widget
            aside.widget.widget-text
                .textwidget
                    p.text-center: img(src="assets/images/logo-light-2.png" alt="" width="80px")
                    p.text-center See how users experience your website in realtime to see changes.

            // Recent portfolio widget
            aside.widget.widget-recent-works
                ul
                    li: a(href="#"): img(src="assets/images/widgets/1.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/2.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/3.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/4.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/5.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/6.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/7.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/8.jpg" alt="")
                    li: a(href="#"): img(src="assets/images/widgets/9.jpg" alt="")

            // Social Icons
            ul.social-icons.text-center
                li: a(href="#") #[i.fab.fa-twitter]
                li: a(href="#") #[i.fab.fa-instagram]
                li: a(href="#") #[i.fab.fa-facebook-f]
                li: a(href="#") #[i.fab.fa-pinterest-p]
// Off canvas end